@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --color-primary: #15a915;
  --color-white: #fff;
  --color-grey: #888;
  --color-dark: #333;

  --border-light: 1px solid #ddd;

  --padding-sm: 5px;
  --padding-md: 10px;
  --padding-lg: 15px;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Stile Navbar */
nav {
  color: var(--color-white);
  background-color: var(--color-dark);
  padding: 0 var(--padding-lg);
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
}

nav a {
  color: var(--color-white);
  text-decoration: none;
}
nav a.disabled,
nav a.disabled:hover {
  cursor: default;
  color: var(--color-grey);
}
nav a.active {
  font-weight: bold;
}
nav a:hover {
  color: var(--color-primary);
}

/* Stile Logo */
nav h2 {
  font-size: 20px;
  margin-right: 15px;
}

/* Stile Hamburger Menu */
nav > #hamburger {
  display: none;
  margin-left: auto;
  justify-self: flex-end;
}
nav > #hamburger img {
  width: 28px;
  height: 28px;
}

/* Stile Menu Orizzontale */

/* Lo so che non era necessario, ma ho fatto funzionare il menu dropdown */
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav ul > li {
  padding: var(--padding-lg) var(--padding-sm);
}
nav > ul > li {
  display: inline-block;
}

nav ul > li:has(ul) {
  position: relative;
  display: inline-block;
}
nav li > ul {
  display: none;
}
nav > ul ul > li {
  cursor: pointer;
  border-bottom: var(--border-light);
  padding: var(--padding-md) var(--padding-lg);
  min-width: 200px;
  transition: all 200ms;
}
nav > ul ul > li > a {
  text-decoration: none;
  color: black;
}
nav > ul ul > li:hover > a {
  color: var(--color-primary);
}
nav > ul ul > li:hover {
  background-color: var(--color-dark);
}
nav > ul li:hover a + ul,
nav > ul ul:hover {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  border: var(--border-light);
  background-color: var(--color-white);
}

/* Stile form */
nav > form {
  margin-left: auto;
  justify-self: flex-end;
}

/* Stile input di ricerca */
nav > form > input {
  border: 1px solid var(--color-dark);
  border-radius: 3px;
  padding: 0 var(--padding-sm);
  height: 32px;
}

/* Stile pulsante di ricerca */
nav > form > button {
  background-color: transparent;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  border-radius: 3px;
  padding: 0 var(--padding-md);
  height: 32px;
  transition: all 200ms;
}
nav > form > button:hover {
  cursor: pointer;
  background-color: var(--color-primary);
  color: var(--color-white);
}

/* Toggle da hamburger a menu orizzontale e viceversa */
@media (max-width: 768px) {
  nav > ul,
  nav > form {
    display: none;
  }
  nav > #hamburger {
    display: block;
  }
}
